.WeekDay {
    border: 5px solid #353535;
    width: 200px;
    height: 260px;
    border-radius: 10%;
}

.WeekDay > h2 {
    text-align: center;
    margin-top: 0%;
}

.WeekDay > * {
    text-align: center;
}

.Degrees > div {
    display: inline;
}

.Wind > div {
    display: inline;
}

.Humidity > div {
    display: inline;
}